<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Demo suite - Google search">

    <test name="Functional tests">

        <parameter name="browser" value="chrome_remote"/>
        <classes>
            <class name="testsuite.ContactNameAddressTest"/>
            <class name="testsuite.CityQueryTest"/>
            <class name="testsuite.InsertCustomerTest"/>
            <class name="testsuite.UpdateCustomerTest"/>
        </classes>
    </test>

</suite> <!-- Suite -->
