<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Demo suite - Google search">

    <test name="Functional tests">
        <!-- CHROME_REMOTE  |  CHROME-->
        <parameter name="BROWSER" value="CHROME_REMOTE"/>
        <classes>
            <class name="testsuite.SelectContactNameAndAddressTest"/>
            <class name="testsuite.SelectCityResultTest"/>
            <class name="testsuite.InsertCustomerTest"/>
            <class name="testsuite.UpdateCustomerTest"/>
        </classes>
    </test>

</suite> <!-- Suite -->
